.header {
	border-bottom: 1px solid black;
	height: 8vh;
	min-height: 60px;
	padding: 7px 0 10px 20px;
	display: flex;
	align-items: center;
}

.titleApp {
	margin-left: 20px;
	padding-top: 10px;
	font-family: 'AvenirLTStd-Black',  
}

.header__container {
	width: 6%;
	min-width: 80px;
}

.header__logo {
	width: 100%;
}