.satisfaction__media-equip--data {
  font-size: 20px;
}
.media_numbers {
  font-size: 40px;
  margin-left: 20px;
}
.media-equip__title {
  color: rgb(63, 62, 68);
}
.media-equip__initial-data {
  color: rgb(63, 62, 68);
}
.media-equip__end-data {
  color: rgb(63, 62, 68);
}
.media-equip__job-data {
  color: rgb(63, 62, 68);
}
.red {
  color: #ab1616;
}
.green {
  color: green;
}
