.satisfaction__media-equip--data {
  font-size: 20px; }

.media_numbers {
  font-size: 40px;
  margin-left: 20px; }

.media-equip__title {
  color: #3f3e44; }

.media-equip__initial-data {
  color: #3f3e44; }

.media-equip__end-data {
  color: #3f3e44; }

.media-equip__job-data {
  color: #3f3e44; }

.red {
  color: #ab1616; }

.green {
  color: green; }
