.options__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.options__select-user {
  width: 200px;
  margin-bottom: 5px;
  color: #ca545d;
  border: 2px solid #ca545d; }

.options__select-label {
  width: 200px;
  margin-bottom: 5px;
  color: #75bce7;
  border: 2px solid #75bce7; }

.options__select-list {
  width: 200px;
  color: #fd8127;
  border: 2px solid #fd8127; }
