.options_container {
  text-align: center;
}
.options__select {
  width: 200px;
  margin-bottom: 5px;
  margin-right: 30px;
}
.user {
  color: #ca545d;
  border: 2px solid #ca545d;
}

.label {
  color: #75bce7;
  border: 2px solid #75bce7;
}

.list {
  color: #fd8127;
  border: 2px solid #fd8127;
}
