.section__planning {
	height : 55%;
	width  : 100%;
	padding: 40px 0 0;
}

.column__planning--chart {
	padding: 0 5px;
}

.container__planning--chart {
	display        : flex;
	align-items    : center;
	justify-content: center;
	height         : 50%;
}
