.section__planning {
  height: 100%;
  width: 100%;
  padding: 40px 0 0;
}

.column__planning--chart {
  padding: 0 15px;
}

.container__planning--chart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
  max-height: 100%;
  margin-bottom: 100px;
}
.graphic__container {
  width: 100%;
  max-height: 100%;
}
.colum-dynamic {
  background-color: lightgray;
  height: 100%;
}
